body {
    margin: 0 auto;
    padding: 1rem 5rem 3rem 5rem;
    max-width: 1200px;
    border: #3a3a3a 3px solid;
    background-color: whitesmoke;
}

html {
    background-color: honeydew;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1, h2, h3, h4, h4, h5, h6 {
    color: rgb(14, 94, 197)
}

p {
    text-indent: 1rem;
}

.myCanvas {
    border: dotted 2px black;
    margin: 0 20px;
}

svg {
    max-height: 200px;
    max-width: 500px;
}

.spin {
    position: absolute;
    top: 8px;
    left: 55px;
}

.draganddrop .mc {
    text-align: center; 
}